.bookmark {
  display: flex;

  align-items: center;


  & span {
    background-color: black;
    display: flex;
    overflow: hidden;

    color: white;
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: relative;
  }

& svg{
  margin: auto;
  width: 16px;
  height: 16px;
}

}
