:root {
  --sidebar-bg-color: #384991;
  --submenu-bg-color: #384991;

}

[data-theme='dark'] {

  --sidebar-bg-color: #384991;
  --submenu-bg-color: #384991;
}


$icon-bg-color: var(--sidebar-bg-color);
$highlight-color: rgb(255, 255, 255);
$sidebar-bg-color: var(--sidebar-bg-color);
$submenu-bg-color: var(--submenu-bg-color);

@import '../../../../../../node_modules/react-pro-sidebar/dist/scss/styles';

.sidebar {
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
&-main{
  margin-left:270px;
}
  &-menu-item {
    font-weight: 500;
    font-size: 14px;
    font-family: "Inter var", sans-serif;
    color: #a1a8cb;
  }

}

@media only screen and (max-width: 768px) {

  .sidebar {
    position: relative;
    &-main{
      margin-left:auto;
    }
  }
}

