.learningCard {
color: white;
  text-align: left;
  border: 1px solid #40444f;
  border-radius: 8px;
  &-container {
margin: 30px;
  }
  &-header {

   & h1{
     font-weight: 500;
     font-size: 40px;
   }
  }

  &-title {
    margin:  30px auto;
& p{
  font-size: 18px;
  font-weight: 500;
}
  }

  &-desc {
    margin:  30px auto;
    & p{
      font-weight: 400;
      font-size: 17px;

      opacity: .6;
    }


  }


}
