.pools {
  background-color: black;
  height: 100vh;
  width: 100%;
  overflow-y: auto;

  &-container {
    margin-top: 20px;
  }

  &-row-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &-card-container {

  }
}
